@model  List<String>
@{
	ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger", placeholder = "short name", required = "required" })
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<p align="center">Ingrese su nombre de usuario</p>
				<p align="center"><input type="text" name="userName" style="visibility:visible" required = "required"/></p>
			</div>
			<div class="col-md-offset-2 col-md-10">
				<p align="center">Elija su pregunta secreta</p>
				<p align="center">
					@Html.DropDownList("questionSelected", new SelectList(Model),
					"-- Seleccione una pregunta --",
					new { @class = "form-control", placeholder = "short name", required = "required" })
			</p>
			</div>
			<div class="col-md-offset-2 col-md-10">
				<p align="center">Ingrese la respuesta de su pregunta</p>
				<p align="center"><input type="text" name="secretAnswer" style="visibility:visible" required = "required"/></p>
			</div>
			<div class="col-md-offset-2 col-md-10">
				<p align="center">Ingrese su nueva contraseña</p>
				<p align="center"><input type="text" name="newPassword" style="visibility:visible" required = "required"/></p>
			</div>
			<div class="col-md-offset-2 col-md-10">
				<p align="center"><input type="submit" value="Crear usuario" class="btn btn-default" /></p>
			</div>
		</div>
	</div>
	<p>@Html.ActionLink("Regresar al logIn", "LogInUser", "Users", new { area = "" }, new { @class = "navbar-brand", @style = "width:240px; text-align:center" })</p>
}
