@model  List<String>
@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>Cambiar contraseña</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger", placeholder = "short name", required = "required" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Ingrese su nombre de usuario</p>
                <p align="center"><input type="text" name="userName" maxlength="50" required="required" pattern="/^|/" class="form-control pwd"/></p>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Elija su pregunta secreta</p>
                <p align="center">
                    @Html.DropDownList("questionSelected", new SelectList(Model),
                    "-- Seleccione una pregunta --",
                    new { @class = "form-control", placeholder = "short name", required = "required" })
                </p>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Ingrese la respuesta de su pregunta</p>
                <p align="center"><input type="text" name="secretAnswer" maxlength="50" required="required" class="form-control pwd"/></p>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Ingrese su nueva contraseña</p>
                <h6 align="center">(debe contener como mínimo un número, una letra mayúscula, una minúscula y 8 caracteres)</h6>
                <p align="center"><input type="password" name="newPassword" maxlength="50" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control pwd"/></p>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p align="center"><input type="submit" value="Actualizar contraseña" class="btn btn-default" /></p>
            </div>
        </div>
    </div>
    <p>@Html.ActionLink("Regresar al ingreso", "LogInUser", "Users", new { area = "" }, new { @class = "navbar-brand", @style = "width:240px; text-align:center" })</p>
}
