@model List<String>
@{
    ViewBag.Title = "Crear usuario";
    string[] QuestionsForUser = (string[])ViewBag.QuestionsForuser;
}

<h2>Crear usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Ingrese su nombre de usuario</p>
                <p align="center"><input type="text" name="userName" maxlength="50" required="required" class="form-control pwd"/></p>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Ingrese su contraseña</p>
                <h6 align="center">(debe contener como mínimo un número, una letra mayúscula, una minúscula y 8 caracteres)</h6>
                <p align="center"><input type="text" name="userPassword" maxlength="50" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control pwd"/></p>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p align="center">Elija su pregunta</p>
                <p align="center">
                    @Html.DropDownList("userQuestion", new SelectList(Model),
"-- Seleccione una pregunta --",
new { @class = "form-control", placeholder = "short name", required = "required" })
            </p>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <p align="center">Ingrese su respuesta</p>
            <p align="center"><input type="text" name="userAnswer" maxlength="50" required="required" class="form-control pwd"/></p>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <p align="center"><input type="submit" value="Crear usuario" class="btn btn-default" /></p>
        </div>
    </div>
</div>
<p>@Html.ActionLink("Regresar al ingreso", "LogInUser", "Users", new { area = "" }, new { @class = "navbar-brand", @style = "width:240px; text-align:center" })</p>
}