
@{
	/**/

	ViewBag.Title = "Ingreso";
}

@using (Html.BeginForm("LogInUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<h2 align="center">Ingreso</h2>
	<p align="center">Ingrese su nombre de usuario</p>
	<p align="center"><input type="text" name="userName" pattern="[A-Za-z0-9]+" required="required" maxlength="50" class="form-control pwd" /></p>
	<p align="center">Ingrese su contraseña</p>
	<p align="center"><input type="password" name="userPassword" required="required" maxlength="50" class="form-control pwd" /></p>
	<p align="center"><input type="submit" value="Iniciar sesión" /></p>
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<table style="width:100%" border="0" align="right">
		<tr>
			<td align="center">
				@Html.ActionLink("¿Olvido su contraseña? ", "ChangePassword", "Users", new { area = "" }, new { @class = "navbar-brand", @style = "width:240px; text-align:center" })
			</td>
		</tr>
		<tr>
			<td align="center">
				@Html.ActionLink("¿No tiene una cuenta?", "CreateUser", "Users", new { area = "" }, new { @class = "navbar-brand" })
			</td>
		</tr>

	</table>

}
